<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Portfolio Homepage</title>
</head>
<body style="background-color: red">
     <center>
       <h1> Welcome to Portfolio </h1>
         {% load static %}
         <img src="{% static 'portfolio/Suraj.jpeg' %}" height="400">
         <br>
         <a href="{% static 'portfolio/SurajKumarBiswal_Resume.pdf' %}">Resume</a>
         <h2> {% for project in projects %}
             {{ project.title }}
             <br>
             {{ project.description }}
             <br>
             <br>
             <br>
             <img src="{{ project.image.url }}", height=500>
             <br>
             <br>
             {% if project.url %}
             <a href="{{ project.url }}"> Project Link </a>
             {% endif %}
             {% endfor %}
         </h2>
     </center>
</body>
</html>