{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Suraj's Portfolio</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: iPortfolio - v3.5.0
  * Template URL: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="{% static 'assets/img/surajkumar.png' %}" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="index.html">Suraj Kumar Biswal</a></h1>
        <div class="social-links mt-3 text-center">
          <a href="https://twitter.com/surajsubham/" target="_blank" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="https://www.facebook.com/suraj.subham/" target="_blank" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="https://www.instagram.com/suraj.subham/" target="_blank" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="{% static 'portfolio/SurajKumarBiswal_Resume.pdf' %}"" target="_blank" class="github"><i class="bx bxl-skype"></i></a>
          <a href="https://www.linkedin.com/in/suraj-biswal-31084556/" target="_blank" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
          <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
          <li><a href="#projects" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Projects</span></a></li>
          <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1>Suraj Kumar Biswal</h1>
      <p>I'm a <span class="typed" data-typed-items="Cloud & Infra Engineer, Dev-Ops Engineer, Web Developer, Freelancer"></span></p>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>About</h2>
          <p>Full Stack Engineer with Experience in Build and Release Engineering ,Continuous Integration/Deployment, Source Code management, Middleware and Application Support , AWS Infrastructure/Resource Provisioning and Deployment & Python Web Development Framework. </p>
        </div>

        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <img src="{% static 'assets/img/Suraj.jpeg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>Cloud & Infrastructure Engineer with Web Development Experience.</h3>
            <p class="fst-italic">
              Anyone who stops learning is old, whether at twenty or eighty. Anyone who keeps learning stays young. The greatest thing in life is to keep your mind young.
              -- Henry Ford
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>26 FEB 1992</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span>www.example.com</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+91-9178870669</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Hyderabad, INDIA</span></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>29</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>B-Tech</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Email-Id:</strong> <span>suraj.subham@gmail.com</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Available</span></li>
                </ul>
              </div>
            </div>
            <p>
              IT Professional with a keen interest in <b>Software Development</b>,<b>Operations</b> & <b>Automation</b>,
              My other hobbies include <b>Driving</b>, <b>Travelling</b>, <b>Browsing & Listening to Songs</b>, Mostly which ends with travelling in my car with my Favourite Songs on Board.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Facts Section ======= -->
    <section id="facts" class="facts">
      <div class="container">

        <div class="section-title">
          <h2>Stats</h2>
          <p>Below are the Projects statics I have worked upon so far as a Software Engineer.</p>
        </div>

        <div class="row no-gutters">

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up">
            <div class="count-box">
              <i class="bi bi-emoji-smile"></i>
              <span data-purecounter-start="0" data-purecounter-end="100000" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Happy Clients</strong> Banking & Finance Customers. </p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="count-box">
              <i class="bi bi-journal-richtext"></i>
              <span data-purecounter-start="0" data-purecounter-end="200" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Projects</strong> Mostly Operations & Infra Development. </p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="count-box">
              <i class="bi bi-headset"></i>
              <span data-purecounter-start="0" data-purecounter-end="1600" data-purecounter-duration="1" class="purecounter"></span><span>Hours</span>
              <p><strong>Toil Reduction</strong> Operations & Infra Automation. </p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="count-box">
              <i class="bi bi-people"></i>
              <span data-purecounter-start="0" data-purecounter-end="100" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Teams Engaged</strong> Worked with more than 1000+ individuals </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Facts Section -->

    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Skills</h2>
          <p>Dev-Ops Engineer with experience in Infrastructure & Operation Automation for various Application Frameworks such as Java Microservices, NodeJs & Python Web Development using Cloud(AWS & PCF) & automation toolsets such as GIT, Jenkins, Maven, Gradle, AWS, Shell & Python. </p>
        </div>

        <div class="row skills-content">

          <div class="col-lg-6" data-aos="fade-up">

            <div class="progress">
              <span class="skill">Linux/Shell <i class="val">80%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">CI:CD <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">CLOUD(AWS & PCF) <i class="val">65%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

            <div class="progress">
              <span class="skill">GIT <i class="val">75%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Web Development <i class="val">70%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">HTML, CSS & BootStrap <i class="val">60%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

        </div>

      </div>
    </section><!-- End Skills Section -->

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container">

        <div class="section-title">
          <h2>Resume</h2>
          <h4><b>Career Objective : </b></h4>
          <p>To give effective as well as efficient efforts towards attainment of organizational goal with exploring wide scope of knowledge and intelligence. To work in an environment that provides a challenging and rewarding career ensuring a high-level satisfaction. In the process, apart from beneficiating my employer, I also expect to learn for my overall development. To collaborate with a challenging environment, where my problem solving, analytical and technical skills are utilized to build successful solutions for clients.</p>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-up">
            <h3 class="resume-title">Sumary :</h3>
            <div class="resume-item pb-0">
              <h4>Suraj Kumar Biswal</h4>
              <p><em>Cloud & Infra Engineer with 7.5+ yrs of Experience in Build & Release Automation, Infrastructure Provisioning, Operations & Support.</em></p>
              <ul>
                <li>Hyderabad, Telengana State, INDIA</li>
                <li>(+91) 9178870669</li>
                <li>suraj.subham@gmail.com</li>
              </ul>
            </div>

            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>Bachelor of Technology in Electrical & Electronics Engineering. </h4>
              <h5>2009 - 2013</h5>
              <p><em>BPUT(ROURKELA), ODISHA, INDIA.</em></p>
              <p>Full-Time Graduation with a 4 yrs Degree Course in Electrical and Electrical Engineering.</p>
            </div>
            <div class="resume-item">
              <h4>Higher Secondary(10+2)</h4>
              <h5>2007- 2009</h5>
              <p><em>MAHARISHI COLLEGE OF NATURAL LAW, ODISHA, INDIA.</em></p>
              <p><b>Board : </b><em> CHSE</em></p>
              <p>Full-time 10+2 course in Physics, Chemistry, Maths & Computer. </p>
            </div>
            <div class="resume-item">
              <h4>School(10th)</h4>
              <h5>2006- 2007</h5>
              <p><em>VENKATESHWAR ENGLISH MEDIUM SCHOOL, ODISHA, INDIA.</em></p>
              <p><b>Board : </b><em> ICSE</em></p>
              <p>Full-time 10+2 course in Physics, Chemistry, Maths & Computer. </p>
            </div>
          </div>
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">Professional Experience : </h3>
            <div class="resume-item">
              <h4>Senior Associate</h4>
              <h5>JAN-2019 - Present</h5>
              <p><em>DBS, SINGAPORE </em></p>
              <ul>
                <li>Technical Lead in a Centralized DEVOPS Teams responsible for Infrastructure Provisioning, Operations, and Automation of various Infrastructure Services</li>
                <li>Delegate tasks within 5 members of the DEVOPS Team and provide technical assistance/support for multiple projects. </li>
                <li>Supervise Builds for various Applications Frameworks and provide end-to-end Infra Support for Applications hosted on Multiple Platforms. </li>
                <li>Oversee the Change & Release Process for Application On-Boarding and Enhancements. </li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>Associate Consultant</h4>
              <h5>APRIL-2018 - NOVEMBER-2018</h5>
              <p><em>CAPGEMINI INDIA LIMITED</em></p>
              <p><b>CLIENT : </b><em>HSBC</em></p>
              <ul>
                <li>Infra Developer in a centralized DEVOPS Team responsible for developing Automation Pipeline for JAVA Backbase Application.</li>
                <li>Responsible for migrating Legacy Based Applications into Agile Models. </li>
                <li>Interacted and consulted with clients on the automation Pipeline Setup. </li>
                <li>Worked on migration of Application frameworks from On-Prem Services to Cloud Services. </li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>Senior Systems Engineer</h4>
              <h5>FEB-2014 - APRIL-2018</h5>
              <p><em>INFOSYS LIMITED</em></p>
              <p><b>CLIENT : </b><em>WELLSFARGO, RICOH</em></p>
              <ul>
                <li>Application Support Engineer responsible for BUILD & RELEASE for various applications & Infrastructure Monitoring.</li>
                <li>Administer Source Control, branching, merging, labeling for multiple Projects. </li>
                <li>Monitoring & resolving various BUILD related Issues. </li>
                <li>L1 and L2 support for various applications. </li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="projects" class="portfolio section-bg">
      <div class="container">

        <div class="section-title">
          <h2>PROJECTS</h2>
        </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{% static 'assets/img/portfolio/Ricoh-Logo.gif' %}" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="{% static 'assets/img/portfolio/WellsFargo.png' %}" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{% static 'assets/img/portfolio/HSBC.jpeg' %}" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="{% static 'assets/img/portfolio/DBS.jpeg' %}" class="img-fluid" alt="">
            </div>
          </div>
        </div>

      </div>
    </section>

    <!-- End Portfolio Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Contact</h2>
          <p> Feel free to drop an Email or Call for any Kind of Web Development, IT Operations & Automation related Services. </p>
        </div>

        <div class="row" data-aos="fade-in">

          <div class="col-lg-8 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>Hyderabad, Telangana State, INDIA-500082</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>suraj.subham@gmail.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+91-9178870669</p>
              </div>
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15925.3345686527!2d78.34718189246142!3d17.462713032102723!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb924b1fde9e8f%3A0xf60a884bc220c01e!2zMTfCsDI4JzA3LjIiTiA3OMKwMjEnMzEuMCJF!5e0!3m2!1sen!2sin!4v1633070616744!5m2!1sen!2sin" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Suraj Biswal</span></strong>
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/ -->
        Designed by <a href="https://bootstrapmade.com/">Suraj Kumar Biswal</a>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'assets/vendor/purecounter/purecounter.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/typed.js/typed.min.js' %}"></script>
  <script src="{% static 'assets/vendor/waypoints/noframework.waypoints.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>